<nav>
  <a class="nav-toggle" id="open-nav" href="#">&#9776;</a>
  {% for link in site.data.navigation %}{% assign class = "" %}{% if link.highlight %}{% assign class = class | append: " highlight" %}{% endif %}{% if link.link == page.url %}{% assign class = class | append: " active" %}{% endif %}{% capture a_href %}{% include relative-src.html src=link.link %}{% endcapture %}
  <a href="{{ a_href | strip_newlines }}" class="{{ class }}" {% if link.tracking %} data-category="outbound" data-action="{{ link.tracking }}" {% endif %}{% if link.new_window %}target="_blank"{% endif %}>{{ link.name }}</a>{% endfor %}
</nav>
