html {
	background: $brand-color;
}

html, body {
	margin: 0;
	padding: 0;
	width: 100vw;
}

body {
	font-family: "San Francisco", "Helvetica Neue", "Helvetica", "Arial";
}

a {
	color: #00a4ca;
	text-decoration: none;
	-webkit-appearance: none;
}

a.nocolor {
	color: #666;
	text-decoration: underline;
}
a.nocolor:hover {
	color: #00a4ca;
	text-decoration: underline;
}

a:hover {
	text-decoration: underline;
}

img {
	width: 100%;
}
img.landing {
	object-fit: contain;
	@media screen and (min-width: 768px) {
		width: 40%;
	}
}
img.dropdown {
	margin-left: auto;
	margin-right: auto;
	display: block;
	height: 50%;
	width: auto;
}
img.contact {
	width: 80%;
	height:80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.footer {
	width: 12%;
	margin-left: auto;
	margin-right: auto;
	vertical-align: bottom;
	@media screen and (min-width: 769px) {
		width: 4%;
	}
	@media screen and (width: 768px) {
		width: 6%;
	}
}

h1 strong, h2 strong {
	font-weight: 700;
}

h1 {
	font-weight: 300;
	font-size: 2.3em;
	margin: 0;
}

h2 {
	font-weight: 300;
	font-size: 2.2em;
	margin: 0 0 30px 0;
}

h3 {
	margin: 20px 0 10px 0;
}

h4 {
	margin: 5px 0 5px 0;
}


p, address {
	font-size: 1.38em;
	color: #666;
	margin-bottom: 20px;
	font-weight: 300;
	line-height: 1.4em;
}

.default-font {
	color: #666;
	font-size: 16px;
	padding-bottom:10px;
}

.no-bullet {
	list-style-type: none;
}
